ul.ul_stl { width: 100%; margin:0; padding: 0; margin-top: 30px;  }

li.li_init { list-style: none; float: left; height: 250px; border:0px solid black; } 

ul.ul_stl li.illus { text-align: center; }  


/* DESKTOP */
@media only screen and (min-width: 1025px) {

  ul.ul_stl li.text { width: 50%; }
  ul.ul_stl li.illus { width: 50%; }
}

/* TABLET */
@media only screen and (min-width: 680px) and (max-width: 1024px) {

  ul.ul_stl li.text { width: 40%; }
  ul.ul_stl li.illus { width: 60%; }
}

/* MOBILE */
@media only screen and (max-width: 679px) {
  ul.ul_stl li { width: 100%; }
}

.gr { color: white;  }
.gr.o1 { width: 180px; height:180px; background:#df0025; border-radius:180px; padding-top: 77px; position: relative; top:10px; left: 40px; }
.gr.o2 { width: 120px; height:120px; background:#bc312c; border-radius:120px; padding-top: 37px; position: relative; top:-130px; left: 216px; line-height: 18px; }
.gr.o3 { width: 90px; height:90px; background:#ccc; border-radius:80px; padding-top: 33px; position: relative; top:-191px; left:333px; color: #222; }

.gr.o4 { width: 133px; height:133px; background:#54a3ec; border-radius:180px; padding-top: 51px; position: relative; top:-23px; left:140px; color: #242670; }
.gr.o5 { width: 124px; height:124px; background:#222; border-radius:120px; padding-top: 51px; position: relative; top:-44px; left: 45px; }
.gr.o6 { width: 124px; height:124px; background:#ccc; border-radius:80px; padding-top: 51px; position: relative; top:-168px; left:244px; }

.gr.o7 { width: 90px; height:90px; background:#bc312c; border-radius:100px; padding-top: 33px; position: relative; top:15px; left: 100px; }
.gr.o8 { width: 90px; height:90px; background:#7fcbf3; border-radius:100px; padding-top: 33px; position: relative; top:-83px; left:252px; color: #242670; }
.gr.o9 { width: 90px; height:90px; background:#3ec128; border-radius:100px; padding-top: 33px; position: relative; top:-93px; left:176px; }
.gr.o10 { width:90px; height:90px; background:#ff0000; border-radius:100px; padding-top: 33px; position: relative; top:-353px; left:328px; }

.gr.o11 { width: 180px; height:180px; background:#fff; border-radius:180px; padding-top: 81px; position: relative; top:10px; left: 40px; border: 1px solid #999; color: #999; }
.gr.o12 { width: 90px; height:90px; background:#b4fd17; border-radius:120px; padding-top: 30px; position: relative; top:-93px; left: 165px; }
.gr.o13 { width: 90px; height:90px; background:#DDD; border-radius:80px; padding-top: 33px; position: relative; top:-293px; left:116px; }
.gr.o14 { width: 90px; height:90px; background:#e88433; border-radius:80px; padding-top: 33px; position: relative; top:-309px; left:16px; }

/*ul.ul_stl li:nth-child(1) { background:#df0025; }
  ul.ul_stl li:nth-child(2) { background:#bc312c; }*/