ul.ul_stl { width: 100%; margin:0; padding: 0; margin-top: 30px;  }

li.li_init { list-style: none; float: left; height: 250px; border:0px solid black; } 

ul.ul_stl li.illus { text-align: center; }  


/* DESKTOP */
@media only screen and (min-width: 1025px) {

  ul.ul_stl li.text { width: 50%; }
  ul.ul_stl li.illus { width: 50%; }
}

/* TABLET */
@media only screen and (min-width: 680px) and (max-width: 1024px) {

  ul.ul_stl li.text { width: 40%; }
  ul.ul_stl li.illus { width: 60%; }
}

/* MOBILE */
@media only screen and (max-width: 679px) {
  ul.ul_stl li { width: 100%; }
}


.o1 { width: 180px; height:180px; background:#df0025; border-radius:180px; padding-top: 81px; position: relative; top:10px; left: 40px; color: white; }
.o2 { width: 120px; height:120px; background:#bc312c; border-radius:120px; padding-top: 37px; position: relative; top:-130px; left: 216px; color: white; }
.o3 { width: 90px; height:90px; background:#ccc; border-radius:80px; padding-top: 33px; position: relative; top:-191px; left:333px; }

.o4 { width: 133px; height:133px; background:#54a3ec; border-radius:180px; padding-top: 51px; position: relative; top:-23px; left:140px; color: #242670; }
.o5 { width: 124px; height:124px; background:#222; border-radius:120px; padding-top: 51px; position: relative; top:-44px; left: 45px; color: white; }
.o6 { width: 124px; height:124px; background:#ccc; border-radius:80px; padding-top: 51px; position: relative; top:-168px; left:244px; }

.o7 { width: 100px; height:100px; background:#bc312c; border-radius:100px; padding-top: 33px; position: relative; top:15px; left: 10px; color: white; }
.o8 { width: 90px; height:90px; background:#7fcbf3; border-radius:100px; padding-top: 33px; position: relative; top:-83px; left:162px; color: #242670; }
.o9 { width: 100px; height:100px; background:#3ec128; border-radius:100px; padding-top: 33px; position: relative; top:-93px; left:86px; color: white; }
.o10 { width:100px; height:100px; background:#ff0000; border-radius:100px; padding-top: 33px; position: relative; top:-349px; left:246px; color: white; }

.o11 { width: 180px; height:180px; background:#70c920; border-radius:180px; padding-top: 81px; position: relative; top:10px; left: 40px; color: white; }
.o12 { width: 120px; height:120px; background:#e88433; border-radius:120px; padding-top: 37px; position: relative; top:-93px; left: 165px; color: white; }
.o13 { width: 90px; height:90px; background:#439815; border-radius:80px; padding-top: 33px; position: relative; top:-309px; left:16px; color: white; }

/*ul.ul_stl li:nth-child(1) { background:#df0025; }
  ul.ul_stl li:nth-child(2) { background:#bc312c; }*/