/*1 darkmagenta teal
2 purple orange

8 golf table cadetblue burlywood
9 darkolivegreen teal*/

#page3 .table td:nth-child(1) {
  width: 150px; }

#page3 .table td:nth-child(2) {
  width: 150px; }

#page4 .table td:nth-child(1) {
  width: 150px; }

#page4 .table td:nth-child(2) {
  width: 150px; } 

#page5 .table td:nth-child(1) {
  width: 150px; }   

#page6 .table td:nth-child(1) {
  width: 150px; } 

#page7 .table td:nth-child(1) {
  width: 150px; }     

#page8 {
  margin-bottom: 80px; }

#page8 .table td:nth-child(1) {
  width: 150px; }

#page8 .table td:nth-child(3), #page8 .table td:nth-child(4), #page8 .table td:nth-child(5), #page8 .table td:nth-child(6), #page8 .table td:nth-child(7), #page8 .table td:nth-child(8), #page8 .table td:nth-child(9), #page8 .table td:nth-child(10), #page8 .table td:nth-child(11) {
  text-align: center; }

#page8 .table th:nth-child(3), #page8 .table th:nth-child(4), #page8 .table th:nth-child(5), #page8 .table th:nth-child(6), #page8 .table th:nth-child(7), #page8 .table th:nth-child(8), #page8 .table th:nth-child(9), #page8 .table th:nth-child(10), #page8 .table th:nth-child(11) {
  text-align: center; }  

#page9 .table td:nth-child(1) {
  width: 150px; }

#page9 .table td:nth-child(2) {
  width: 220px; }


.labelbg {
    font-size: 0.5em;
    border-radius: 8px;
    color: #AAA;
    padding: 3px 6px;
    border: 1px solid #DDD;
    text-transform:uppercase; 
}


#page6 {
  tr:nth-child(2) span.labelbg,
  tr:nth-child(11) span.labelbg,
  tr:nth-child(15) span.labelbg
    { background: #FFF; color: #000; }

  tr:nth-child(3) span.labelbg,
  tr:nth-child(4) span.labelbg,
  tr:nth-child(5) span.labelbg,
  tr:nth-child(8) span.labelbg,
  tr:nth-child(9) span.labelbg,
  tr:nth-child(12) span.labelbg,
  tr:nth-child(19) span.labelbg,
  tr:nth-child(20) span.labelbg,
  tr:nth-child(23) span.labelbg,
  tr:nth-child(24) span.labelbg
    { background: #DDD; color: #555; }

  tr:nth-child(13) span.labelbg,
  tr:nth-child(14) span.labelbg,
  tr:nth-child(16) span.labelbg,
  tr:nth-child(18) span.labelbg,
  tr:nth-child(22) span.labelbg
    { background: #EEE; color: #AAA; }
}