@import '_header';
@import '_pages';
@import '_home';


.text-center { text-align: center; margin: 0 auto; }

#main_angularjs_scope_containt {
  width: 97%;
  margin: 0 auto; }

@media only screen and (max-width: 576px) {
  .hidden-xs { display: none; } 
}

footer .container { clear:both; color:#AAA; }



/*.animate-enter {
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
  opacity: 0;
}
 
.animate-enter.animate-enter-active {
  opacity: 1;
}*/