/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { font-family:inherit; font-size:100%; font-style:inherit; font-weight:inherit; margin:0pt; outline-color:invert; outline-style:none; outline-width:0pt; list-style-type:none; border:0pt none; padding:0pt; vertical-align:baseline; } table { border-collapse:separate; border-spacing:0pt; } caption, th, td { font-weight:normal; text-align:left; vertical-align:top; } blockquote:before, blockquote:after, q:before, q:after { content:""; } blockquote, q { quotes:"" ""; } strong { font-weight:bold; } em { font-style:italic; } * { margin:0pt; padding:0pt;} header, section, footer, aside, nav, article, hgroup { display:block; margin:0; }

/*body {
    background: -webkit-linear-gradient(45deg, #0077b5,#008891);
    background: -moz-linear-gradient(45deg, #0077b5,#008891);
    background: -o-linear-gradient(45deg, #0077b5,#008891);
    background: linear-gradient(45deg, #0077b5,#008891);
    background-attachment: fixed;
    background-color: #0077b5;
}*/


.clearboth { clear:both; }
.posRelative { position:relative; }
.posAbsolute { position:absolute; }

/*span.caret a:active { transform: rotate(180deg); }*/

    span.caret {
      /*display: inline-block;*/
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      margin-left: 3px;
    }
    span.arrow-up {
      position: relative;
      top: -9px;  
      border-bottom: 5px solid #AAA;
    }

    span.arrow-down {
      position: relative;
      top: 11px;   
      border-top: 5px solid #AAA;
    }

/* COMMON TO ALL BREAKPOINTS */
.container { width: 98%; margin: 0 auto; }
.nav { display: table; width: 100%; }
.nav ul.row  { display: table-row; }
.nav ul.row li { vertical-align: top; }
.nav ul.row li button { background-color: #CCC; width: 100%; border:1px solid #BBB; cursor: pointer; padding: 20px 0; }

.nav ul.row li div { background-color: white; opacity: 0.7; }
.nav ul.row li div#showMenu1,#showMenu2,#showMenu3,#showMenu4 { width: calc(100% - 2px); border:1px solid #DDD; }
.nav ul.row li div#showMenu1,#showMenu2,#showMenu3,#showMenu4 { display: none; }

.nav ul.row li div ul.list li { display: block; width: 100%; padding-left: 20px; line-height: 30px; text-align: left; }  

.data_pg_container { background: #E0E0E0; border: 1px solid #CCC; width: calc(100% - 2px); }



/* DESKTOP */
@media only screen and (min-width: 1025px)  {
    body { background-color: white; }

    .nav ul.row li { display: table-cell; width: 25%; }
}


/* TABLET */
@media only screen and (min-width: 679px) and (max-width: 1024px) {
    body { background-color: yellow; }
    
    .nav ul.row li { display: inline-block; width: 50%; text-align: center; }
}

/* MOBILE */
@media only screen and (max-width: 678px) {
    body { background-color: grey; }

    .nav ul.row li { display: block; }

}